.scroll {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  position: relative;

}

/* fade nas laterais */
.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.scroll::before {
  left: 0;
  background: linear-gradient(to right, #05020F, transparent);
}

.scroll::after {
  right: 0;
  background: linear-gradient(to left, #05020F, transparent);
}

.scrollContent {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.images {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}

.images img {
  height: 42px;
  opacity: 0.7;
  transition: all 0.25s ease;
}

.images img:hover {
  opacity: 1;
  transform: scale(1.08);
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.33%); }
}

/* Responsivo */
@media (max-width: 768px) {
  .images {
    gap: 40px;
  }

  .images img {
    height: 34px;
  }

  .scroll::before,
  .scroll::after {
    width: 60px;
  }
}
