#intro{
    color: azure;
    margin: 150px 0px 0px 50px;
}
#z{
    margin-left: 50px;
    margin-top: 0px;
}


#inicio{
    height: 450px;
    display: flex;
    align-items: center; 
    gap: 100px;  
}

#inicio img {
    width: 550px;
    margin-top: 150px;
}

#pega{
    font-size: 34px;
}